* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.nav-list {
  text-align: center;
  border-top: solid 1px;
  border-bottom: solid 1px;
  list-style: none;
}

.nav-list-item {
  display: inline-block;
  padding: 15px 20px 15px 20px;
}

.main {
  height: 700px
}

.box1 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.color-box1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.color-box2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.color-box3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.color-box4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.box2 {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.color-box5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.color-box6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.color-box7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.color-box8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.box3 {
  display: flex;
  justify-content: center;
}

.color-box9 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.color-box10 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.color-box11 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.color-box12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  height: 120px;
  background-color: grey;
  text-align: center;
  margin: 0;
}

.footer-text {
  line-height: 120px;
  color: white;
}