* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.nav-list {
  text-align: center;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.nav-list-item {
  display: inline-block;
  padding: 15px 20px 15px 20px;
}
